section {

  text-align: justify;
  font-family: 'Mulish', sans-serif;


  p {
    padding-top: 20px;
    font-size: 1.5rem;
  }

  button {
    height: 50px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3CC47C;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
  }

  img {
    width: 100%;
    height: auto;
  }

}

