<section class="container" style="padding-top: 100px; padding-left: 100px; padding-right: 100px;">
  <mat-card>
    <h2>Hi!</h2>
    <p>Not so long ago,  I participate in the social orientation course provided by the
      <a href="https://integratie-inburgering.be/" target="_blank" rel="noreferrer noopenet"> Agentschap Integratie en
        Inburgering</a> and found the content really useful!</p>
    <p>Talking with colleages and friends about it, I realise that this information could be useful not only for the new
      comers in Belgium but for everybody living here, so I decided to make this small website to put this information
      together, organized in categories.</p>
    <p>If you have any question or suggestion about a resource that could be added to the lists please semd me a message
      to <a href="mailto:info@information-belgium.com">info@information-belgium.com</a>  </p>
  </mat-card>
</section>
